---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome!</h1>
			<p>
				 Your presence here is greatly appreciated. This corner of the internet is dedicated to sharing insights, inspiration, and knowledge. I hope you find the content both informative and enjoyable. Please make yourself at home, explore, and feel free to share your thoughts. Happy browsing!
			</p>
			<h2>About me</h2>
			<p>
				Professionally, I'm a seasoned software engineering lead with more than a decade of experience under my belt. I take pride in my ability to guide ideas from inception to full-fledged production, navigating the intricate landscape of technology with a versatile skillset. Sharing knowledge and mentoring developers, whether it's on the front-end or back-end, is a passion that drives me forward.
			</p>
			<p>On a personal note, you'll find that I'm a kind and easygoing individual. When I'm not immersed in the world of software, you'll often find me out on the water, sailing and relishing the tranquility it brings. I'm a proud dad to two amazing daughters who constantly remind me of the joys of parenthood. Despite my busy schedule, I'm always a step behind the latest gaming trends, squeezing in moments of gaming nostalgia whenever possible.</p>
			<p>
				Technology is more than just a profession; it's a part of my DNA. Whether it's the challenge of soldering new USB ports onto my vintage devices or diving into programming to bring my innovative ideas to life, I'm endlessly fascinated by the possibilities it offers.
			</p>
		</main>
		<Footer />
	</body>
</html>
